header{
    width: 100%;
    height: 8vh;
    position: fixed;
    opacity: 0.8;
    z-index: 99;
}

.logo{   
    img{
        position: fixed;
        left: 20%; 
        margin-top: 1%;
    }

    .links{
        height: 24px;
        right: 18%;

        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.2px;       

        position: fixed;
        margin-top: 1%;
            
            a{
                margin: 0px 35px;
                text-decoration: none;
                color: rgba(255, 255, 255, 0.596);
                &:hover{
                    border-bottom: #FFFFFF solid 1px;
                    cursor: pointer;
                }
            }
    }
}