#home{
    position: absolute;
    z-index: 95;
    background: url("../assets/home/mask.png");
    width: 100%;
    height: 112vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;

    h1{
        position: absolute;
        top: 37vh;
        font-family: 'Poppins';
        font-style: bold;
        font-weight: 600;
        font-size: 90px;
        line-height: 100px;
    }  
    
    h4{
        position: absolute;
        top: 50vh;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.2px;
    }

    button.big {
        position: absolute;
        top: 60vh;
        background: url("../assets/home/button.png");
        background-size: 172px 54px;
        width: 172px;
        height: 54px;
        border: none;
        outline: none;
        &:hover{
            cursor: pointer;
        }
    }

    .pagin {       
        position: absolute;
        top: 50vh;
        right: 7%;
        left: 7%;
        display: flex;
        justify-content: space-between;

        .prev {
            background: none;
            border: none;
            background-image: url("../assets/home/arrow-right.svg");
            width: 24px;
            height: 44px;
            outline: none;
            &:hover{
                cursor: pointer;    
            }
        }

        .next {
            background: none;
            border: none;
            background-image: url("../assets/home/arrow-left.svg");
            width: 24px;
            height: 44px;
            outline: none;
            &:hover{
                cursor: pointer;
            }
        }
    }

    .ovals {
        position: absolute;
        top: 97vh;
        background-image: url("../assets/home/ovals.png");
        width: 70px;
        height: 23px;
        &:hover{
            cursor: pointer;
        }
    }

}
  
iframe.screen.mute#tv {
    position: absolute;
    width: 120%;
    height: 180%;
    top: -30%;
    left: -20%;
    pointer-events: none;
    cursor: none;
    overflow: hidden;
}