doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title upqode_frontend
        link(rel="stylesheet" href="css/style.css")
        //- link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins&display=swap")

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous")
        //- script(src="./jquery/jquery-3.3.1.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")

        script(type="text/javascript" src="./index.js")
        script(type="text/javascript" src="./includes/home/home.js")
        
        //- script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlnQI4vrHK0jwpJkhpF82K5zFY8p9Q8Io&callback=initMap")
        //- script(type="text/javascript" src="./includes/map-google/map-google.js")

    body
        #container
            include includes/header.pug
            include includes/main.pug
            include includes/footer.pug
        
        