main
    div(id="wrapper" role="main")
        section
            include home/home.pug

        section
            include services/services.pug
 
        section           
            include team/team.pug            
 
        section           
            include contacts/contacts.pug            