include ../../json/home-json.pug
    //- include ../mixins/loop.pug
    //-     +loop(content)
each tag in content
    #home    
        h1= tag.h1_home
        h4= tag.h4_home
        button.big
        .pagin            
            .prev     
            .next
        .ovals

    .tv
        .screen.mute#tv